@using Newtonsoft.Json
@model UserViewModel
@{
    ViewData["Title"] = "Create User";
    var tempRoles = TempData.Peek("Roles") as string;
    var roles = JsonConvert.DeserializeObject<AdminWeb.Models.Response.UserRolesResponse[]>(tempRoles!);
}

<form class="row g-3" asp-action="create" asp-controller="users" method="post">
    @Html.Hidden("cid", ViewBag.cid, null)
    <div class="col-md-6">
        <label asp-for="Username" class="form-label">Username</label>
        @Html.TextBoxFor(a => a.Username, new { @class = "form-control", placeholder="Username..." })
    </div>
    <div class="col-md-6">
        <label asp-for="Password" class="form-label">Password</label>
        @Html.PasswordFor(a => a.Password, new { @class = "form-control", placeholder = "Password..." })
    </div>
    <div class="col-md-6">
        <label asp-for="Email" class="form-label">Email</label>
        @Html.TextBoxFor(a => a.Email, new { @class = "form-control", placeholder = "Email..." })
    </div>
    <div class="col-md-6">
        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
        @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control", placeholder = "Phone Number..." })
    </div>
    <div class="col-md-6">
        <label asp-for="CustomerId" class="form-label">Customer</label>
        @await Component.InvokeAsync("Customer", new { model = "CustomerId", value = Model.CustomerId })
    </div>
    <div class="col-12">
        <label class="form-label">Roles</label>
        <div class="d-flex">
            @for (int i = 0; i < roles?.Length; i++)
            {
                var role = roles[i];
                <div class="pe-3">
                    <label for="ckbRole_@i">
                        <input type="checkbox" name="UsrRoles" id="ckbRole_@i" value="@role.Name" @(Model.Roles != null && Model.Roles.Contains(role.Name) ? "checked" : "") />
                        @role.DisplayName
                    </label>
                    <input type="hidden" asp-for="ckbRole_@i" id="hdckbRole_@i" />
                </div>
            }
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Create
        </button>
        <a class="btn btn-secondary" asp-action="index" asp-controller="users" asp-route-customerId="@ViewBag.cid">
            <i class="bi bi-x-circle"></i> Cancel
        </a>
    </div>
</form>