@using Newtonsoft.Json
@using AdminWeb.Helpers
@model UserViewModel
@{
    ViewData["Title"] = "Create User";
    var tempRoles = TempData.Peek("Roles") as string;
    var roles = JsonConvert.DeserializeObject<AdminWeb.Models.Response.UserRolesResponse[]>(tempRoles!);
    var tempCustomers = TempData.Peek("Customers") as string;
    var customers = JsonConvert.DeserializeObject<AdminWeb.Models.Response.AdminProfile[]>(tempCustomers!);
    var selectCustomers = new List<SelectListItem>();
    if (customers != null)
    {
        selectCustomers.AddRange(customers.Select(a => new SelectListItem
        {
            Text = a.FullName,
            Value = a.Id
        }));
    }
}

<form class="row g-3" asp-action="create" asp-controller="users" method="post">
    <div class="col-md-6">
        <label asp-for="@Model.Username" class="form-label">Username</label>
        @Html.TextBoxFor(a => a.Username, new { @class = "form-control", placeholder="Username..." })
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.Password" class="form-label">Password</label>
        @Html.PasswordFor(a => a.Password, new { @class = "form-control", placeholder = "Password..." })
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.Email" class="form-label">Email</label>
        @Html.TextBoxFor(a => a.Email, new { @class = "form-control", placeholder = "Email..." })
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.PhoneNumber" class="form-label">Phone Number</label>
        @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control", placeholder = "Phone Number..." })
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.CustomerId" class="form-label">Customer</label>
        @if (Html.IsSystemUsr())
        {
            @Html.DropDownListFor(a => a.CustomerId, selectCustomers, new { @class = "form-control" })
        }
        else
        {
            @Html.DropDownListFor(a => a.CustomerId, selectCustomers, new { @class = "form-control", @readonly="" })
        }
    </div>
    <div class="col-12">
        <label class="form-label">Roles</label>
        <div class="d-flex">
            @for (int i = 0; i < roles?.Length; i++)
            {
                var role = roles[i];
                <div class="pe-3">
                    <label for="ckbRole_@i">
                        <input type="checkbox" name="UsrRoles" id="ckbRole_@i" value="@role.Name" @(Model.Roles != null && Model.Roles.Contains(role.Name) ? "checked" : "") />
                        @role.DisplayName
                    </label>
                    <input type="hidden" asp-for="ckbRole_@i" id="hdckbRole_@i" />
                </div>
            }
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Create
        </button>
        <a class="btn btn-secondary" asp-action="index" asp-controller="users">
            <i class="bi bi-x-circle"></i> Cancel
        </a>
    </div>
</form>