@using Newtonsoft.Json
@model UserViewModel
@{
    ViewData["Title"] = "Edit User";
    var tempRoles = TempData.Peek("Roles") as string;
    var roles = Newtonsoft.Json.JsonConvert.DeserializeObject<AdminWeb.Models.Response.UserRolesResponse[]>(tempRoles!);
}

<form class="row g-3" asp-action="edit" asp-controller="users" method="post">
    @Html.HiddenFor(a => a.Id)
    @Html.HiddenFor(a => a.Roles)
    @Html.Hidden("cid", ViewBag.cid, null)
    <div class="col-md-6">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="Username" value="@Model.Username" readonly>
    </div>
    <div class="col-md-6">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="Password">
    </div>
    <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="email..." name="Email" value="@Model.Email">
    </div>
    <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="inputPhone" placeholder="phone..." name="PhoneNumber" value="@Model.PhoneNumber">
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.CustomerId" class="form-label">Customer</label>
        @await Component.InvokeAsync("Customer", new { model = "CustomerId", value = Model.CustomerId })
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center">
        <label asp-for="@Model.IsLocked" class="form-label">
            @Html.CheckBoxFor(a => a.IsLocked, new { @class = "pr-2" }) Locked
        </label>
    </div>
    <div class="col-12">
        <label class="form-label">Roles</label>
        <div class="d-flex">
            @for (int i = 0; i < roles?.Length; i++)
            {
                var role = roles[i];
                <div class="pe-3">
                    <label for="ckbRole_@i">
                        <input type="checkbox" name="UsrRoles" id="ckbRole_@i" value="@role.Name" @(Model.Roles!.Contains(role.Name) ? "checked" : "")/>
                        @role.DisplayName
                    </label>
                    <input type="hidden" asp-for="ckbRole_@i" id="hdckbRole_@i" />
                </div>
            }
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">
            <i class="bi bi-save"></i> Save
        </button>
        <a class="btn btn-secondary" asp-action="index" asp-controller="users" asp-route-customerId="@ViewBag.cid">
            <i class="bi bi-x-circle"></i> Cancel
        </a>
    </div>
</form>