<!-- Sidebar -->
<ul class="navbar-nav bg-main sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-emoji-laughing"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item @Html.IsSelected("users", new [] {"index"})">
        <a class="nav-link" href="@Url.Action("", "users")">
            <i class="bi bi-person-fill fs-4"></i>
            <span>Users</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    @if (Html.IsSystemUsr())
    {
        <!-- Heading -->
        <div class="sidebar-heading">
            System
        </div>
        <li class="nav-item @Html.IsSelected("customers")">
            <a class="nav-link" asp-action="index" asp-controller="customers">
                <i class="bi bi-person-check-fill fs-4"></i>
                <span>Customers</span>
            </a>
        </li>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link @Html.IsSelected("Authentication", null, "")" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAuth"
               aria-expanded="@Html.IsActiveRoute("Authentication")" aria-controls="collapseAuth">
                <i class="fas fa-fw fa-cog"></i>
                <span>Authentication</span>
            </a>
            <div id="collapseAuth" class="collapse @Html.IsSelected("Authentication", new [] {"role"}, "show")" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @* <h6 class="collapse-header">Custom Components:</h6> *@
                    <a class="collapse-item" asp-action="role" asp-controller="authentication">Roles</a>
                </div>
            </div>
        </li>
    }

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->